.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Employee {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;      /*Adds spacing between items vertically*/
}

.img {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 20;
}

.Add {
  margin-bottom: 23px;
  border-radius: 3px;
  padding: 7.6px;
  font-size: 16px;
  color: white;
  background-color: rgb(17, 17, 17);
  cursor: pointer;
  width: 125px;
  height: 36px;
}

.Form {
  align-items: center;
  margin-bottom: 25px;
  margin-right: 90px;
  justify-content: center;
}

.Input {
  margin: 3px;
  padding: 3px;
  width: 37%;
  margin-left: 25px;
}

.Post {
  font-size: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin-top: 14px;
  margin-left: 85px;
  background-color: black;
  cursor: pointer;
}

.Search {
  margin-bottom: 18px;
  width: 35%;
  height: 28px;
  text-indent: 30px;
  font-size: 16px;
}

.Edit {
  justify-content: center;
  align-items: center;
  line-height: 23px;
  padding: 20px;
}

.Button {
  background-color: rgb(224, 223, 223);
  color: rgb(34, 32, 32);
  margin: 4px;
  border: 1px solid;
  border-radius: 3px;
  font-size: 10px;
}